<header class="header" style="background-color: black; width: 1080px;">
    <!-- Navbar -->
    <nav class="navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container-fluid" style="background-color: black;">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a  id="pname" style="color: white;" class="nav-link" aria-current="page" href="#">Employee Management System</a>
            </li>
            <li class="nav-item links">
              <a  href="#">HOME</a>
            </li>
            <li class="nav-item links">
                <a [routerLink]="['add']" [routerLinkActive]="['activeLink']">ADD EMPLOYEES</a>
                
            </li>
            <li class="nav-item links">
                <a [routerLink]="['show']" [routerLinkActive]="['activeLink']">SHOW EMPLOYEES</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
  
   
  </header>